.task-card.col-12.col-sm-6.col-lg-4.col-xl-3
  .card
    .card-body
      %h5.card-title
        = link_to task.name, edit_task_path(task)
      %h6.card-subtitle
        ステータス:
        = statuses.find(task.status_id).name
      %hr
      %span
        - if current_user.id == task.user_id
          = link_to 'Edit', edit_task_path(task)
          = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
