.task-card
  %label
    = link_to task.name, edit_task_path(task)
  %label
    ステータス:
    = Status.find(task.status_id).name
  %span
    - if current_user.id == task.user_id
      = link_to 'Edit', edit_task_path(task)
      = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
