%br
%h4.text-white All User Tasks
%br

%table#all-task-table.table.table-bordered.table-hover.table-light
  %thead.thead-light
    %tr
      %th{scope: "col"} Task
      %th{scope: "col"} Status
      %th{scope: "col"} Category
      %th{scope: "col"} User
      %th{scope: "col"} Update

  %tbody
    = render "index", tasks: @tasks, users: @users, categories: @categories, statuses: @statuses

:javascript
  $(document).ready(function() {
    $('#all-task-table').DataTable({
      "bJQueryUI": true,
      // "sPaginationType": "full_numbers"
    });
  });
