%h3 All User Tasks

= link_to 'New Task', new_task_path, remote: true, class: 'btn btn-secondary'
%br

%table.table.table-bordered.table-hover
  %thead.thead-light
    %tr
      %th{scope: "col"} Task
      %th{scope: "col"} Status
      %th{scope: "col"} Category
      %th{scope: "col"} User
      %th{scope: "col"} Update
      %th{scope: "col"}

  %tbody.task-index
    = render "index", tasks: @tasks, users: @users, categories: @categories, statuses: @statuses

#task-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
