%h2 my todo list
%ul
  %li
    = link_to 'タスクを追加する', new_task_path
%hr
  = link_to 'All users tasks', tasks_path
%hr
- if @my_tasks
  - @my_tasks.each do |task|
    = render 'tasks/task_card', task: task
