- if user_signed_in?
  %h2 my todo list
  %ul
    %li
      = link_to 'タスクを追加する', new_task_path
  %hr
%h2
  = link_to 'All users tasks', tasks_path
%hr
-# .row.justify-content-center
.row
  - if @my_tasks
    - @my_tasks.each do |task|
      = render 'tasks/task_card', task: task, statuses: @statuses
