%h2 my todo list
%ul
  %li
    = link_to 'タスクを追加する', new_task_path
%hr
.row
  - if @my_tasks
    - @my_tasks.each do |task|
      .col-sm-12.col-md-6.col-lg-4
        = render 'tasks/task_card', task: task